:root {
  /* Light mode (default) */

  /* Blues */
  --color-blue-300: 178 59% 76%;
  --color-blue-300-preview: hsl(178, 59%, 76%);
  --color-blue-500: 179 50% 55%;
  --color-blue-500-preview: hsl(179, 50%, 55%);
  --color-blue-600: 180 25% 55%;
  --color-blue-600-preview: hsl(180, 25%, 55%);
  --color-blue-700: 180 70% 18%;
  --color-blue-700-preview: hsl(180, 70%, 18%);
  --color-blue-800: 179 63% 15%;
  --color-blue-800-preview: hsl(179, 63%, 15%);

  /* Browns */
  --color-brown-500: 43 42% 65%;
  --color-brown-500-preview: hsl(43, 42%, 65%);
  --color-brown-800: 0 0% 42%;
  --color-brown-800-preview: hsl(0, 0%, 42%);

  /* Grays */
  --color-white: 0 0% 100%;
  --color-white-preview: hsl(0, 0%, 100%);
  --color-gray-200: 0 0% 98%;
  --color-gray-200-preview: hsl(0, 0%, 98%);
  --color-gray-300: 0 0% 93%;
  --color-gray-300-preview: hsl(0, 0%, 93%);
  --color-gray-400: 0 0% 88%;
  --color-gray-400-preview: hsl(0, 0%, 88%);
  --color-gray-500: 0 0% 56%;
  --color-gray-500-preview: hsl(0, 0%, 56%);
  --color-gray-600: 0 0% 49%;
  --color-gray-600-preview: hsl(0, 0%, 49%);
  --color-gray-700: 0 0% 33%;
  --color-gray-700-preview: hsl(0, 0%, 33%);
  --color-gray-800: 0 0% 18%;
  --color-gray-800-preview: hsl(0, 0%, 18%);
  --color-gray-900: 0 0% 12%;
  --color-gray-900-preview: hsl(0, 0%, 12%);

  /* Other colors */
  --color-aqua-400: 162 100% 80%;
  --color-aqua-400-preview: hsl(162, 100%, 80%);
  --color-aqua-500: 163 78% 63%;
  --color-aqua-500-preview: hsl(163, 78%, 63%);
  --color-orange-400: 58 100% 80%;
  --color-orange-400-preview: hsl(46, 100%, 80%);
  --color-orange-500: 46 100% 60%;
  --color-orange-500-preview: hsl(46, 100%, 60%);
  --color-purple-400: 279 100% 80%;
  --color-purple-400-preview: hsl(279, 100%, 80%);
  --color-purple-500: 279 100% 72%;
  --color-purple-500-preview: hsl(279, 100%, 72%);
  --color-pink-400: 336 87% 65%;
  --color-pink-400-preview: hsl(336, 87%, 65%);
  --color-pink-500: 336 87% 55%;
  --color-pink-500-preview: hsl(336, 87%, 55%);

  /* Semantic colors */
  --color-primary: var(--color-blue-500);
  --color-primary-preview: hsl(179, 50%, 55%);
  --color-primary-hover: var(--color-blue-600);
  --color-primary-hover-preview: hsl(180, 40%, 40%);
  --color-secondary: var(--color-brown-500);
  --color-secondary-preview: hsl(43, 42%, 65%);
  --color-secondary-hover: var(--color-brown-800);
  --color-secondary-hover-preview: hsl(0, 0%, 42%);
  --color-background: var(--color-gray-800);
  --color-background-preview: hsl(0, 0%, 18%);
  --color-foreground: var(--color-white);
  --color-foreground-preview: hsl(0, 0%, 100%);
  --color-success: var(--color-aqua-500);
  --color-success-preview: hsl(163, 78%, 63%);
  --color-warning: var(--color-orange-500);
  --color-warning-preview: hsl(46, 100%, 60%);
  --color-info: var(--color-purple-500);
  --color-info-preview: hsl(279, 100%, 72%);
  --color-danger: var(--color-pink-500);
  --color-danger-preview: hsl(336, 87%, 55%);
}

.dark {
  /* Dark mode */
  --color-blue-300: 178 70% 65%;
  --color-blue-300-preview: hsl(178, 70%, 65%);
  --color-blue-500: 179 65% 48%;
  --color-blue-500-preview: hsl(179, 65%, 48%);
  --color-blue-600: 180 40% 40%;
  --color-blue-600-preview: hsl(180, 40%, 40%);
  --color-blue-700: 180 75% 14%;
  --color-blue-700-preview: hsl(180, 75%, 14%);
  --color-blue-800: 179 70% 10%;
  --color-blue-800-preview: hsl(179, 70%, 10%);
}
