.logoContainer {
  display: flex;
}
.logoTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}
.logoText, .logoSubtext {
  text-transform: uppercase;
}
.logoLight {
  display: none;
}
.logoDark {
  display: block;
}
:global(.dark) .logoLight {
  display: block;
}
:global(.dark) .logoDark {
  display: none;
}