.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 24px;
}

.intro p {
  max-width: 440px;
  font-size: 18px;
  line-height: 32px;
  text-wrap: balance;
  /* color: var(--secondary); */
}

a.primary {
  /* color: var(--color-primary); */
  gap: 8px;
}

a.secondary {
  border-color: var(--secondary);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    /* background: var(--primary);
    border-color: transparent; */
  }

  a.secondary:hover {
    /* background: var(--secondary);
    border-color: transparent; */
  }
}

@media (max-width: var(--breakpoint-sm)) {
  .main {
    padding: 48px 24px;
  }

  .intro {
    gap: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
